<h3>Dear <%= @user.email %> </h3>
<p>Congratulations, you’ve won the <%= number_to_currency(rand(20..50)) %> Wishpond Gift Card Prize
  in our monthly lottery among our customers!</p>
<p>Please, use this Wishpond Gift Card until <%= Date.now + 3.month %> </p>
<h5>Grateful to Have You as a Customer!</h5>
<h5><i>Dionysus Store Team</i></h5>
