@import "bootstrap";
@import "./products/products";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.nav-layout {
  width: -webkit-fill-available;
  z-index: 10000;
  position: static;
}

.category {
  margin-top: 5px;
}

.row {
  margin: 3px;
}

.actions, .field, .login {
  padding-left: 15px;
}

a:link, a:visited  {
  color: slategrey;
  text-decoration: none;
}

a:hover  {
  color: #FF0000;
}

a:active  {
  color: #F00FFF;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}
