<div class='row mt-3 ms-5'>
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item'><%= link_to 'Home', root_path %></li>
      <li class='breadcrumb-item active' aria-current='page'><%= @breadcrumb.title %></li>
    </ol>
  </nav>
</div>
<div class='row'>
  <%= render partial: 'products/products' %>
</div>
